spring:
    config:
        activate:
            on-profile: docker

    datasource:
        url: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
        username: ${POSTGRES_USER}
        password: ${POSTGRES_PASSWORD}
        driver-class-name: org.postgresql.Driver

    jpa:
        open-in-view: false
        properties:
            hibernate:
                default_schema: football
        hibernate:
            ddl-auto: validate
        show-sql: true
        database-platform: org.hibernate.dialect.PostgreSQLDialect

    flyway:
        schemas: football
        connect-retries: 10

    cache:
        type: caffeine
        caffeine:
            spec: maximumSize=500,expireAfterWrite=10m
